<mat-nav-list>
  <div class="logo py-4">
    <img src="" alt="" /><h6 style="color: white;">ORVBA | Customer</h6>
  </div>
  <mat-divider></mat-divider>
  <h2 matSubheader class="mt-2">APPLICATIONS</h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/userhome/home">
    <mat-icon>home</mat-icon>Customer Home
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/userhome/mechaniclist">
    <mat-icon>list</mat-icon> Mechanic List
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/userhome/requestassistance">
    <mat-icon>help</mat-icon> Send Request
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/userhome/givefeedback">
    <mat-icon>feedback</mat-icon> Feedback
  </a>

  
</mat-nav-list>

