<nav class="navbar navbar-expand navbar-dark bg-dark px-2">
    <div class="side-nav-button p-2 me-3 text-light">
        <i class="fa-solid fa-bars"></i>
    </div>

    <a class="navbar-brand px-4" href="#" style="font-size: 29px;">ORVBA</a>
    
    <div class="navbar-collapse" style="font-size: 19px;">
            <ul class="navbar-nav me-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button"
                    data-bs-toggle="dropdown">
                        Login
                    </a>
                    <ul class="dropdown-menu ldropdown-menu-dark">
                            <li><a class="dropdown-item" href="#">Admin</a></li>
                            <li><a class="dropdown-item" href="#">Customer</a></li>
                            <li><a class="dropdown-item" href="#">Mechanic</a></li>
                    </ul>
                </li>
                  
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button"
                    data-bs-toggle="dropdown">
                        Register
                    </a>
                    <ul class="dropdown-menu ldropdown-menu-dark">
                            <li><a class="dropdown-item" href="#">Customer</a></li>
                            <li><a class="dropdown-item" href="#">Mechanic</a></li>
                    </ul>
                </li>
            </ul>
    </div>

</nav>

