<app-landing-header></app-landing-header>
<!-- slider_area_start -->
<div class="slider_area">
    <div class="single_slider  d-flex align-items-center slider_bg_1">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-xl-8">
                  
                </div>
            </div>
        </div>
    </div>
</div>
<!-- slider_area_end -->

<section class="sample-text-area">
    <div class="container box_1170">
    <h3 class="text-heading">Welcome to Vehicle Breakdown Assistance System</h3>
    <div class="categoires" style="background-color: #eee; padding: 17px; margin-bottom: 35px;">
        <div class="container" style="display:flex;">
            <a href="#"><div class="col-md-4">
                <img src="/assets/HomePage/admin.jpg" >
                <h4>Admin Portal</h4>
                <p style="text-align: center;">Vegetable Items ordering is a form of electronic commerce which allows consumers to directly buy foods from a seller over the Internet using a web browser or a mobile app. </p>			 					
            </div></a>
            <a href="#"><div class="col-md-4 ">
                <img src="/assets/HomePage/customer.jpg" >
                <h4>Customer Portal</h4>
                <p style="text-align: center;">Vegetable Items ordering is a form of electronic commerce which allows consumers to directly buy foods from a seller over the Internet using a web browser or a mobile app. </p>				 					
            </div></a>
            <a href="#"><div class="col-md-4">
                <img src="/assets/HomePage/mechanic.jpg" >
                <h4>Mechanic Portal</h4>
                <p style="text-align: center;">Vegetable Items ordering is a form of electronic commerce which allows consumers to directly buy foods from a seller over the Internet using a web browser or a mobile app. </p>				 					
            </div></a>
        </div>
   </div>
   <h3 class="text-heading">About On Road Vehicle Breakdown Assistance System</h3>
    <p class="sample-text">
        Vegetable Items ordering is a form of electronic commerce which allows consumers to directly buy goods or services from a seller over the Internet using a web browser or a mobile app. Consumers find a product of interest by visiting the website of the retailer directly or by searching among alternative vendors using a shopping search engine, which displays the same product's availability and pricing at different e-retailers. As of 2020, customers can shop online using a range of different computers and devices, including desktop computers, laptops, tablet computers and smartphones.
An online shop evokes the physical analogy of buying products or services at a regular "bricks-and-mortar" retailer or shopping center; the process is called business-to-consumer (B2C) online shopping. When an online store is set up to enable businesses to buy from another businesses, the process is called business-to-business (B2B) online shopping. A typical online store enables the customer to browse the firm's range of products and services.
    </p>
    </div>
    </section>

<app-footer></app-footer>